*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #030303;
}
a:hover{
  color: #000000;
}
ul{
  list-style: none;
}
input{
  
  /* background-color: #E1701A; */
  text-indent: 1.5rem;
  /* padding-left: 2rem !important; */
}
input[type="password"]{
  font:small-caption;
  padding:0.3rem 1.2rem;
  font-size: 1.2rem;
}
input:focus{
  outline: none;
}
.color-orange{
  color: #E1701A;
}
.dropdown-toggle::after{
  color: #E1701A !important;
  /* margin-top: 0.1rem !important; */
}
.navbar{
  background-color: rgba(255, 255, 255, 0.699) !important;
  /* border-bottom: 0.1rem solid rgb(199, 199, 199); */
}
.navbar a{
  color:  #000000 !important;
  font-weight: 500 !important;
}
.navbar-toggler{
  /* background-color: aqua; */
  border: none;
}
.signin-btn{
  border: none;
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 9rem 9rem 5rem 5rem;
}
.signup-btn{
  padding:0.35rem 0.5rem;
  border: none;
  background-color: #E1701A;
  border-radius: 9rem 9rem 5rem 5rem;
color: #fff;  
}
.signup-btn:hover{
  color: #fff;
  background-color: #e1701ac5;
}
.signup-btn:active:focus{
  border-color: brown !important;
  box-shadow: none !important;
  /* background-color: brown; */
}
.chatbox-icon{
  /* background-color: #000000; */
  position: absolute;
  top: 26rem;
  right: 5%;
  cursor: pointer;
}
.chatbox-icon-signup{
  position: absolute;
  top: 35rem;
  right: 2%;
  cursor: pointer;
}
.chatbox-icon img, .chatbox-icon-signup img{
  width: 4rem;
}
.banner-h1{
  color: #FBD148;
  font-weight: 800;
  text-align: center;
  margin: 1rem;
}
.imageslider{
  position:relative;
  /* background-color: #FBD148; */
}
.button-combined{
  /* background-color: aqua; */
  position: absolute;
  left: 45%;
  bottom: 5%;
  
}
.learnmore-outline-btn{
  padding:0.35rem 0.5rem;
  border: none;
  
  background-color: #fff;
  border: 0.1rem solid #E1701A;
  color: #E1701A;
  border-radius: 9rem 9rem 5rem 5rem;
  
}
.kaay-community{
  height: 50rem;
  /* width: 100%; */
  /* background-image: url("/Images/girl.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  border:1px solid green;
}

/* Footer CSS  */

.main-footer{
  margin-top: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:#FBD148;
  font-family: 'Nunito', sans-serif;
 
    color:#263238;
  }
  .main-footer img{
    width: 20rem;
  }
  .main-footer .footer-top{
    background-color: #E49B31;
   /* background-color: greenyellow; */
   width: 100%;
   /* margin:2.5rem auto; */
  padding: 1rem;
    
  }
  .main-footer .footer-bottom{
    margin: 3rem;
    /* border:1px solid tomato; */
  }
  .main-footer .footer-bottom h5{
    font-weight: bold;
  }
  .subscribe-kaayamo{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 2rem 0;
    align-items: center;
    border-radius: 0.6rem;
  }
  .subscribe-kaayamo input{
    height: 3rem;
    border: none;
    background-color: transparent;
    margin-right: 6rem;
     text-align: center;
     font-size: 0.8rem;
  }
  .subscribe-kaayamo ::placeholder{
    color: #CBFFDA;
  }
  .main-footer .footer-top .subscribe-kaayamo .subscribe-item h6{
    margin: 0 0.5rem;
    color: #fff ;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
  }
  .subscribe-kaayamo .subscribe-bg{
    background-color: transparent;
    border: 0.1rem solid #CBFFDA;
    border-radius: 2rem;
  
  }
 
  .btn-subscribe{
    border: none;
    padding:1rem;
    margin-right:0.02rem;
    margin-left:6rem;
    font-size: 0.8rem;
    border-radius:1.5rem;
    background-color: #CBFFDA;
  color: #030303;
  font-weight: 600;
  }
  .btn-subscribe:hover{
    background-color:#CBFFDAc9;
  }
  footer a, footer a:hover{
    color:#030303;
  }
  .line_width{
    height:0.05rem;
    width: 90vw;
    background-color: #ffff;
    opacity: 0.5;
    margin: auto;
  }
  .social-link-p{
    margin-top: 1rem;
    margin-right: 2rem;
    font-weight: 600;
  }
  .social-links{
    /* background-color: #00FF90; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin:1rem;
    margin-right: 1.5rem;
  }
  /* signin signup  */

  .sign img{
    width: 27rem;
    margin:0.5rem 3rem;
    /* width: 55rem; */
    /* border:2px solid tomato; */
  }
  .sign-input{
    /* background-color: green; */
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 1rem 0;
    border:0.1rem solid rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
  }
  .sign-input::placeholder{
    /* padding: 1rem; */
  } 
  .signup-input{
    font-size: 1.2rem;
    padding: 0.1rem;
    border:0.1rem solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    margin:0.05rem 0;
  }
  .signup-password{
    font-size: 1.2rem;
    padding: 0.1rem !important;
  }
  .eyepassbg{
    background:url("../src/Imagesrc/eye_pass.svg");
    background-size: 1.2rem;
    background-repeat:no-repeat;
    background-position: center;
    background-position-x:95% ;
  }
 
  .sign-right{
    /* border: 2px solid tomato; */
    margin-top: 10rem;
    width: 25vw;
    margin-left: 2rem !important ;
  }
  .signup-right{
    margin-top: 1rem;
    margin-left: 2rem;
    /* width: 30vw; */
  }
  .signup-right input{
    width: 25rem;
  }
  .right-top-float{
    position: absolute;
    /* background-color: #a19999; */
    right: 5%;
  }
  .right-top-float span a, .corner span {
    color: #E1701A;
  }
  .labels{
    margin: 0.05rem 0.5rem;
  }
   input[type="checkbox"]{
    width: 1.3rem;
    height: 1.3rem;
  appearance: none;
  border-radius: 0.3rem;
  border:0.1rem solid grey;
  cursor: pointer;
  
  /* background-color: #a12323 !important; */
}
 input[type="checkbox"]:checked{
 background: url("../src/Imagesrc/check-tick.svg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 0.9rem;
 /* padding: 1rem; */

}
  .termspolicy p{
    font-size: 0.85rem !important;
    margin-top: 1rem;
  }
  .email-sign{
    /* font-size: 1.2rem; */
    padding-left: 1.2rem;
    background: url("../src/Imagesrc/carbon_email.svg") no-repeat 1rem;
    background-size: 1.4rem;
    
  }
  .password-sign{
    
    padding-left: 1.2rem;
    background: url("../src/Imagesrc/key_pass.svg") no-repeat 1rem;
    background-size: 1.3rem;
  }
.login-btn{
  width: 8rem;
  margin: auto;
}
/* Verification  */
.card-centered{
  /* background-color: #E5E5E5; */
  box-shadow: 0.2rem 0.2rem 0.9rem 0.2rem rgba(171,168,168,0.5) ;
  -webkit-box-shadow: 0.2rem 0.2rem 0.9rem 0.2rem rgba(171,168,168,0.5) ;
  -moz-box-shadow: 0.2rem 0.2rem 0.9rem 0.2rem rgba(171,168,168,0.5) ;
  border-radius: 1rem;
  width: 30rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
  /* height: 15rem; */
}
.otp-field{
  background-color: #f8b944;
  opacity: 0.8;
  /* height: 3rem; */
  width: 3.5rem;
  padding: 1rem  0;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  border:none;
  font-size: 1.6rem;
font-weight:bold;
}
.otp-field:focus{
  outline: none;
}
.verify-btn{
  padding:0.5rem 1.5rem;
  border: none;
  background-color: #F8BA44;
  border-radius: 9rem 9rem 5rem 5rem;
  font-weight: 600;
color: rgba(255, 255, 255, 0.952);  
 margin:1rem 1rem 1rem 11.5rem;
}
.verify-btn:hover{
  color: #fff;
  background-color: #f8b944c2;
}

/* Phone with code css  */
.code-sm{
  width: 4rem;
  border-radius: 0.8rem;
  border:0.1rem solid grey;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
/* border: none; */
}
.code-sm option{
  font-weight: 600;
  background-color: #f8b944a4;
  
}
.code-sm option:hover {
  background-color: #F8BA44 !important;
  /* box-shadow: 0 0 10px 100px #F8BA44 inset; */
  /* color: #E49B31; */
  /* border-radius: 0.7rem; */
}
.code-sm:focus{
  outline: none;
}
.code-sm *{
  /* background-color: indianred; */
}
.leftbordernone{
  border-radius: 0.8rem;
  border:0.1rem solid grey;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.PhoneInputCountryIcon--border{
  box-shadow: none !important;
}
.PhoneInputCountryIcon{
  width: 1.8rem !important;
  height: auto !important;
  border-radius: 4rem !important;
  margin-left: 0.5rem;
}
.PhoneInputInput{
  border: none;
  text-indent:0;
  margin: 0;
}

.signup-select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") ;
  background-repeat: no-repeat;
  background-size: 2rem;
  
  background-position-x: 96%;
  background-position-y: 50%;
  /* border: 1px solid #dfdfdf; */
  /* border-radius: 2px; */
  /* margin-right: 2rem; */
  /* padding: 1rem; */
  /* padding-right: 2rem; */
}
.signup-select:focus{
  outline: none;
}
@media screen and (max-width:1024px) {
  html{
    font-size:85%;
  }
}
  @media screen and (max-width:768px) {
    html{
      font-size:65%;
    }
  }
  @media screen and (max-width:540px) {
    html{
      font-size: 45%;
    }
  }
  @media screen and (max-width:425px) {
    html{
      font-size: 35%;
    }
  }
  @media screen and (max-width:375px) {
    html{
      font-size: 28%;
    }
  }