*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.dropdown-toggle::after{
  color: #E1701A !important;
  /* margin-top: 0.1rem !important; */
}
.navbar{
  background-color: rgba(255, 255, 255, 0.699) !important;
  /* border-bottom: 0.1rem solid rgb(199, 199, 199); */
}
.navbar a{
  color:  #000000 !important;
  font-weight: 500 !important;
}
.navbar-toggler{
  /* background-color: aqua; */
  border: none;
}
.signin-btn{
  border: none;
  padding: 0.4rem;
  background-color: #fff;
  border-radius: 9rem 9rem 5rem 5rem;
}
.signup-btn{
  padding:0.35rem 0.5rem;
  border: none;
  background-color: #E1701A;
  border-radius: 9rem 9rem 5rem 5rem;
color: #fff;  
}
.signup-btn:hover{
  color: #fff;
  background-color: #e1701ac5;
}
.signup-btn:active:focus{
  border-color: brown !important;
  box-shadow: none !important;
  /* background-color: brown; */
}
.banner-h1{
  color: #FBD148;
  font-weight: 800;
  text-align: center;
  margin: 1rem;
}
.imageslider{
  position:relative;
  /* background-color: #FBD148; */
}
.button-combined{
  /* background-color: aqua; */
  position: absolute;
  left: 45%;
  bottom: 5%;
  
}
.learnmore-outline-btn{
  padding:0.35rem 0.5rem;
  border: none;
  
  background-color: #fff;
  border: 0.1rem solid #E1701A;
  color: #E1701A;
  border-radius: 9rem 9rem 5rem 5rem;
  
}
.kaay-community{
  height: 50rem;
  /* width: 100%; */
  /* background-image: url("/Images/girl.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  border:1px solid green;
}

/* Footer CSS  */

.main-footer{
  margin-top: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:#FBD148;
 
    color:#263238;
  }
  .main-footer img{
    width: 20rem;
  }
  .main-footer .footer-top{
    background-color: #E49B31;
   /* background-color: greenyellow; */
   width: 100%;
   /* margin:2.5rem auto; */
  padding: 1rem;
    
  }
  .main-footer .footer-bottom{
    margin: 3rem;
    /* border:1px solid tomato; */
  }
  .subscribe-kaayamo{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 2rem 0;
    align-items: center;
    border-radius: 0.6rem;
  }
  .subscribe-kaayamo input{
    height: 3rem;
    border: none;
    background-color: transparent;
    margin-right: 6rem;
     text-align: center;
     font-size: 0.8rem;
  }
  .subscribe-kaayamo ::placeholder{
    color: #CBFFDA;
  }
  .main-footer .footer-top .subscribe-kaayamo .subscribe-item h6{
    margin: 0 0.5rem;
    color: #fff ;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
  }
  .subscribe-kaayamo .subscribe-bg{
    background-color: transparent;
    border: 0.1rem solid #CBFFDA;
    border-radius: 2rem;
  
  }
 
  .btn-subscribe{
    border: none;
    padding:1rem;
    margin-right:0.02rem;
    margin-left:6rem;
    font-size: 0.8rem;
    border-radius:1.5rem;
    background-color: #CBFFDA;
  color: #030303;
  font-weight: 600;
  }
  .btn-subscribe:hover{
    background-color:#CBFFDAc9;
  }
  footer a, footer a:hover{
    color:#030303;
  }
  .line_width{
    height:0.05rem;
    width: 90vw;
    background-color: #ffff;
    opacity: 0.5;
    margin: auto;
  }
  .social-links{
    /* background-color: #00FF90; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:1rem;
    margin-right: 2rem;
  }