@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Nunito&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Fonts  */
/* 
font-family: 'Nunito', sans-serif; */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
